<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello PhoenixVue!</title>
    <%= if Mix.env == :prod do %>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <% end %>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>

    <%= if Mix.env == :dev do %>
      <script src='http://localhost:4001/app.js'></script>
    <% else %>
      <script src="<%= static_path(@conn, "/js/manifest.js") %>"></script>
      <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <% end %>

  </body>
</html>
